@import "styles/settings/__settings";

.title {
  font-family: $font-family-Zen-Dots;
}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.1rem;
  font-family: $font-family-Cousine;
  font-weight: 400;
}

.posts {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > li {
    width: 30%;
  }

  figure {
    margin: 0 0 0.5em;
    height: 15em;
  }

  a {
    text-decoration: none;
    color: $color-black;
  }
}
