@import "styles/settings/__settings";

.imageWrapper {
  margin: 0 auto 50px auto;
  max-width: 40rem;

    figure {
      margin-bottom: 0;
    }
    
    p {
      font-size: 14px;
      margin-top: 5px;
      text-align: center;
    }
  }

.postMetadata {
  text-align: center;
  justify-content: center;
}

.postFooter {
  text-align: center;
}

.postModified {
  color: $color-gray-500;
  font-style: italic;
  margin-bottom: 3rem;
}

.relatedPosts {
  display: flex;
  flex-direction: column;
  span {
    font-size: 1.2em;
    margin-bottom: 0.4em;
  }
  ul {
    list-style: none;
  }
}
