@import "styles/settings/__settings";

.postCard {
  position: relative;
  padding: 1.2em;
  color: inherit;
  text-align: left;
  text-decoration: none;

  & > a {
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover {
      h3 {
        color: $color-primary;
        text-decoration: underline;
      }
    }
  }
}

.postCardSticky {
  border: solid 0.02em $color-gray-100;
  border-radius: 1em;

  svg {
    position: absolute;
    top: 1.2em;
    right: 1em;
    font-size: 1.15em;
    color: $color-gray-300;
  }
}

.postCardTitle {
  margin: 0 0 1em 0;
  font-size: 1.5em;
}

.postCardContent {
  margin: 0;
  font-family: $font-family-Cousine;
  font-weight: 400;
  font-size: 1.25em;

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.postCardMetadata {
  margin: -0.8em -0.8em 0.4em;
}

.postCardHomePage {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    border: 1px solid grey;
  }

  .postCardTitle {
    font-family: $font-family-Cousine;
    font-weight: 400;
    font-size: 1.1rem;
    margin: 0 0 1em 0;
    padding: 5px;
  }

  & > li {
    width: 30%;
  }

  figure {
    margin: 0 0 0.5em;
    height: 15em;
  }

  a {
    text-decoration: none;
    color: $color-black;
  }
}