$font-family-default: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
  Courier New, monospace;

$font-family-Cousine: 'Cousine', monospace;
$font-family-Zen-Dots: 'Zen Dots', cursive;